#python==3.11
matplotlib==3.8.4
notebook==7.1.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
seaborn==0.13.2
tqdm==4.66.2
tensorboard==2.16.2
--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio